.main-all-files {
  width: 85vw;
  min-height: 75vh;
  max-height: 75vh;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.fileDisplay {
  display: flex;
  background-color: grey;
  align-items: center;
  height: 5vh;
  width: 85vw;
}
