.main-all-users {
  width: 76vw;
  min-height: 100vh;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  gap: 0.5vh;
  font-size: 3vh;
  overflow-y: auto;
}

.userDisplay {
  font-size: 2vh;
  display: flex;
  align-items: center;
  height: 5vh;
  width: 84vw;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 1em;
}

.userDisplay span {
  flex: 1;
  text-align: center;
}

.displayTemplate {
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
  font-size: 4vh;
  display: flex;
  align-items: center;
  height: 8vh;
  width: 84vw;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 1em;
}

.displayTemplate span {
  flex: 1;
  text-align: center;
}
