.main-all-users {
  width: 100%;
  min-height: 100vh;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  font-size: 3vh;
  overflow-y: auto;
  text-align: center;
}

.users {
  margin-top: 1vh;
  display: flex;
  justify-content: space-around;
  font-size: 3vh;
  display: flex;
  align-items: center;
  height: 7vh;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 1em;
  width: 98%;
  text-align: center;
}

.userDisplay span {
  flex: 1;
  text-align: center;
}

.displayTemplate {
  display: flex;
  justify-content: space-evenly;
  font-size: 4vh;
  display: flex;
  align-items: center;
  height: 8vh;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 1em;
  width: 99%;
  text-align: center;
}

.displayTemplate span {
  flex: 1;
  text-align: center;
}
