@font-face {
  font-family: "TradeGothic";
  src: url("../../assets/fonts/TradeGothicLTStd-BdCn20.otf") format("opentype");
}

@font-face {
  font-family: "Pacifico";
  src: url("../../assets/fonts/Pacifico.otf") format("opentype");
}

@font-face {
  font-family: "Fineday";
  src: url("../../assets/fonts/Fineday-StyleTwo.ttf") format("truetype");
}

nav {
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  width: 10vw;
  height: 100vh;
  background: #161818;

  gap: 5vh;
  align-items: center;
}

.accountBtn {
  width: 5vw;
  background: #7c2529;
  margin-left: 7.5vw;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;

  font-family: "TradeGothicLTStd-BdCn20", Arial, sans-serif;
}

.navLink::before {
  margin-left: auto;
}

.navLink::after,
.navLink::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}

#a {
  content: "Dashboard";
}
#b {
  content: "Locations";
}
#c {
  content: "Upload Document";
}
#d {
  content: "Messenger";
}

.navLink:hover::after,
.navLink:hover::before {
  width: 100%;
}

.signOutBtn {
  height: 5vh;
  color: white;
  background: #7c2529;
}

.signOutBtn:hover {
  background: #f1b434;
}
