@font-face {
  font-family: "TradeGothic";
  src: url("../../assets/fonts/TradeGothicLTStd-BdCn20.otf") format("opentype");
}

@font-face {
  font-family: "Pacifico";
  src: url("../../assets/fonts/Pacifico.otf") format("opentype");
}

@font-face {
  font-family: "Fineday";
  src: url("../../assets/fonts/Fineday-StyleTwo.ttf") format("truetype");
}

nav {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  width: 14vw;
  height: 100vh;
  background-color: white;
}

.logoContain {
  width: 14vw;
  min-width: 14vw;
  max-width: 14vw;
  height: 10vh;
  display: flex;
  justify-content: center;

  margin-bottom: 2vh;
}

.sullysLogo {
  transform: scale(0.85);
  max-width: 100%;
  max-height: 100%;
  margin: auto;

  filter: drop-shadow(0px 0.5px 0.5px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));

  border-radius: 11px;

  transition-duration: 0.2s;
}

.navLink,
#navBtn {
  height: 5vh;
  width: 13vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 1vw;
  color: #8c8c8c;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: 0.2s;

  font-size: 25px;

  background: none;
  text-decoration: none;
}

.arrow {
  position: absolute;
  right: 0;
  width: 30px;
  height: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBottom {
  width: 14vw;
  padding-top: 1vh;

  border-top: solid 3px rgba(255, 255, 255, 0.2);
  margin-top: 55vh;
  height: 10vh;
  min-height: 10vh;
  max-height: 10vh;
}

.navLink:hover,
.navBtn:hover {
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

.navLink:hover,
.navBtn:hover .arrow {
  animation: slide-right 0.5s ease-out both;
}

@keyframes slide-right {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.navLink:active,
.navBtn:active {
  transform: translate(1px, 1px);
  transition-duration: 0.2s;
}
