@font-face {
  font-family: "TradeGothic";
  src: url("../../assets/fonts/TradeGothicLTStd-BdCn20.otf") format("opentype");
}

@font-face {
  font-family: "Pacifico";
  src: url("../../assets/fonts/Pacifico.otf") format("opentype");
}

@font-face {
  font-family: "Fineday";
  src: url("../../assets/fonts/Fineday-StyleTwo.ttf") format("truetype");
}

nav {
  padding-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vw;
  width: 10vw;
  height: 100vh;
  background-color: rgb(21 25 24);
  font-family: Fineday;
}

.navLink {
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #ff0055;

  text-decoration: none;
  font-size: 20px;
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  border: 0;
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.navLink:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}
