#navMobile {
  margin-top: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.linksMobile {
  display: flex;
}

.navLink,
#navBtn {
  height: 50%;
  max-height: 8vh;
  max-width: 13vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 1vw;
  color: white;
  cursor: pointer;
  transition-duration: 0.2s;
  font-size: 3vh;
  text-decoration: none;
  margin-bottom: 1vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.arrow {
  right: 0;
  width: 30px;
  height: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBottom {
  display: flex;
  flex-direction: column;
  width: 14vw;
  height: 100%;
}

/*  */
/*  */

.navLink:hover,
.navBtn:hover {
  border-radius: 10px;
  backdrop-filter: blur(100px);
  background: rgba(255, 255, 255, 0.11);
  border: 1px solid rgba(255, 255, 255, 0.45);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.05);
  cursor: pointer;
  transition-duration: 0.4s;
  margin-left: 0.5vw;
}

.navLink:hover .arrow,
.navBtn:hover .arrow {
  animation: slide-right 0.8s ease-out both;
}

.navLink:active,
.navBtn:active {
  transform: translate(0.5vw, 0.5vw);
  transition-duration: 0.2s;
}

/*  */
/*  */

@keyframes slide-right {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 1500px) {
  .navLink,
  #navBtn {
    font-size: 2.5vh;
  }
}
