:root {
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-text);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-all-locations {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 86vw;
  max-height: 85vh;
  margin: auto;
}

.cardRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
  overflow-y: auto;
  width: 100%;
  padding: 1vh 0;
  scrollbar-width: none;
}

.cardRow::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 30%;
  min-height: 50%;
  max-width: 300px;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.11);
  border: 1px solid rgba(255, 255, 255, 0.45);
  margin-bottom: 2vh;
}

.card__background,
.card__content,
.card__title,
.card__description,
.card__button {
  width: 100%;
}

.card__background {
  height: auto;
  filter: brightness(0.8);
}

.card__content {
  padding: 1rem;
  background: hsla(0, 0%, 100%, 0.1);
}

.card__title {
  font-size: 1.5rem;
  font-family: var(--font-title);
}

.card__description {
  font-size: 1rem;
}

.card__button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-family: "Pacifico";
  color: rgba(255, 255, 255, 0.174);
  font-size: 2vw;
  cursor: pointer;
}

.card__button:hover {
  color: rgba(241, 181, 52, 0.3);
}

@media (hover: hover) and (pointer: fine) {
  .card:hover {
    transform: scale(1.02);
  }
}

@media (min-width: 768px) {
  .card {
    width: calc(50% - 1rem);
  }
}

@media (min-width: 750px) {
  .main-all-locations {
    max-width: 80vw;
    max-height: 80vh;
  }

  .card {
    width: calc(33.333% - 1rem);
  }

  .card__title {
    font-size: 2rem;
  }

  .card__description {
    font-size: 1.25rem;
  }
}

@media (min-width: 1440px) {
  .card {
    width: calc(25% - 1rem);
  }
}
