.main-all-locations {
  display: flex;
  flex-direction: column;
  min-width: 72vw;
  max-width: 72vw;
  height: 85vh;
  min-height: 85vh;
  max-height: 85vh;
}

.cardRow {
  margin-top: 3vh;
  display: flex;
  justify-content: space-evenly;
  min-width: 72vw;
  max-width: 72vw;
  max-height: 85vh;
  height: 80%;
  flex-wrap: wrap;
}

.card {
  width: 15vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;
  background-color: #fafafa;
  transition: all 0.5s ease;
  padding: 1vh;
  cursor: pointer;
  margin-bottom: 1vh;
}

.cardBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2vh;
  color: black;
}

.cardImage {
  width: 50%;
  height: 50%;
  transition: all 0.5s ease;
}

.card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  flex-grow: 1;
}

p {
  font-size: 13px;
  font-weight: 100;
}

.title {
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  color: black;
}

.card:hover .cardImage {
  filter: brightness(0.8);
}
