@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

:root {
  --popup-bg-color: #fcedda; /* Light background color for the pop-up */
  --input-bg-color: #fff; /* White background for better input field visibility */
  --input-border-color: #ee4e34; /* Accent color for borders */
  --button-bg-color: #ee4e34; /* Button background color matching the input border */
  --button-hover-bg-color: darken(
    #ee4e34,
    10%
  ); /* Darker shade for button hover state */
  --font-color: #000; /* Font color */
  --font-hover-color: #fff; /* Font hover color for better contrast on button */
}

.formContainer-location-folders {
  display: flex;

  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Slightly darker shadow for depth */
  border: 1px solid rgba(255, 255, 255, 0.45);
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;

  z-index: 999; /* Ensure the form is above other elements */
}

.subHeading-location-folders {
  font-weight: 600;
  text-align: center;
}

.form-locations-folders input {
  height: 40px; /* Increased height for better touch interaction */
  width: 100%; /* Adjusted width for internal padding effect */
  margin-bottom: 15px; /* Added margin for spacing between fields */
  outline: none;
  font-size: 1rem;
  border: 2px solid var(--input-border-color); /* Thicker border for emphasis */
  border-radius: 6px;
  padding: 0 15px;
  background: var(--input-bg-color);
  color: black;
}

.form-locations-folders button {
  height: 45px; /* Increased height for prominence */
  width: 100%; /* Match input width for consistency */
  margin-top: 20px; /* Added margin for spacing from the last input */
  color: var(--font-hover-color);
  font-size: 1rem;
  font-weight: 500; /* Adjusted weight for readability */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: var(--button-bg-color);
}

.form-locations-folders button:hover {
  background-color: var(--button-hover-bg-color); /* Interaction feedback */
}

/* Additional Styles for Darken Functionality */
/* Note: CSS does not natively support the 'darken' function. This is often handled by preprocessors like SASS. If you're using plain CSS, consider manually specifying the darker shade for the hover state. */
