@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

:root {
  --content-width: 85vw;
  --bg-color: rgba(255, 255, 255, 0.1);
  --border-color: rgba(255, 255, 255, 0.25);
  --shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  --hover-shadow: rgba(255, 255, 255, 0.05);
  --font-title: "Roboto", sans-serif;
  --font-color: white;
  --main-font-size: 3vh;
  --file-font-size: 2vh; /* Adjusting variable names for consistency */
  --template-font-size: 4vh; /* Adjusting variable names for consistency */
}

.main-location-folders {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87vw;
  height: 89.6vh;
  font-size: var(--main-font-size);
  color: var(--font-color);
  box-shadow: var(--shadow);
  backdrop-filter: blur(100px);
  border: 1px solid var(--border-color);
  padding: 0.5vh 0;
}

.folders {
  margin-top: 3vh;
  width: 95%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
}

.folder {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: var(--file-shadow);
  background-color: var(--file-bg-color);
  border: 1px solid var(--file-border-color);
  padding: 1em;
}

.folder__title,
.folder__button {
  font-size: 2vw;
}

/* Hover and Focus Effects for Folders */
.folder:hover {
  box-shadow: 0 5px 15px var(--hover-shadow);
}

@media (max-width: 1000px) {
  :root {
    --content-width: 100vw; /* Full width for smaller screens */
  }
}

@media (max-width: 768px) {
  :root {
    --main-font-size: 2.5vh;
    --file-font-size: 1.8vh;
    --template-font-size: 3vh;
  }

  .folder {
    font-size: var(--file-font-size); /* Adjusting font size for consistency */
  }
}

@media (max-width: 480px) {
  .main-location-folders {
    gap: 0.25vh;
  }
}
