.main-files {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 86vw;
  height: 100vh;
  font-size: 5vh;
  color: white;
  background-color: #7c2529;
}

.displayWindow-files {
  display: flex;
  flex-direction: column;

  align-items: center;

  min-width: 86vw;
  max-width: 86vw;

  overflow-y: auto;
  overflow-x: hidden;

  background: transparent;
}

.topRow {
  display: flex;
  width: 85vw;
  justify-content: space-between;
}
