.main-location-layout {
  display: flex;
  flex-direction: column;
  width: 86vw;
  height: 100vh;
  font-size: 5vh;
  color: white;
  background-color: #7c2529;
  padding-left: 1vh;
}

.cards-location-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 86vw;
  max-width: 86vw;
}

.actionCards-location-layout {
  margin-top: 1vh;
  display: flex;
  max-width: 86vw;
  gap: 0.5vw;
  justify-content: center;
  align-items: center;
}

.actionCard-location-layout {
  font-size: 2vh;
  max-height: 20vh;
  min-height: 20vh;

  min-width: 21vw;
  max-width: 21vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
}

.actionContent-location-layout {
  display: flex;
  background: transparent;
}
.actionCard-location-layout {
  cursor: pointer;
}

.whiteButton {
  width: 40%;
}

.actionCard-location-layout:hover {
  backdrop-filter: blur(100px);
  background: rgba(255, 255, 255, 0.11);
  border: 1px solid rgba(255, 255, 255, 0.45);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.05);
}

.actionCard-loation-layout {
  font-size: 3vh;
}

.displayWindow-location-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 86vw;
  max-width: 86vw;
  height: 85vh;
  min-height: 92vh;
  max-height: 92vh;
  background: transparent;
}
